@import '@vistaflow/design-tokens';
@import '@vistaflow/ui/styles';
@import 'tailwindcss';
@import './styles/theme-colors.css';
@source '../../../packages/ui/src';
@source '../../../packages/utils/src';

@theme {
  --color-pulse: #E5C07B;
}

::-webkit-scrollbar {
  width: 0;
  background: transparent;
}
